.calendar-dash {}

.calendar-dash__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 12px ;
}

#monthYear {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    color: #1C1C1C;
}

.btns-calendar__arrow {
    padding: 2.5px 6px;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.btns-calendar__arrow.active {
    background-color: #F0F1F4;
}

.calendar-dash__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* margin-bottom: 50px; */
}

.calendar-dash__day {
    color: #1C1C1C;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}

.calendar-dash__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 18px;
    grid-template-rows: repeat(5, 78px);
    grid-auto-rows: 78px;
    /* grid-template-rows: 100%; */
    height: 100%;
}

.calendar-dash__date {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.calendar-dash__date:hover {
    background-color: #f2f2f2;
}

.current-month {
    font-weight: bold;
}

.event {
    background-color: #f2f2f2;
    color: black;
    padding: 20px 5px 60px 5px;
    border-radius: 3px;
    font-size: 22px;
    cursor: pointer;
    align-content: center;
}

.has-event::after {
    content: '\2022';
    /* Unicode for a bullet point */
    color: #FF5733;
    /* Choose a color for the indicator */
    position: absolute;
    top: 5px;
    right: 5px;
}

.area {
    width: 100%
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 510px;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content__top {
    display: flex;
    margin-bottom: 34px;
}
.modal-content__title {
    margin-right: auto;
    color:  #1C1C1C;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
}
.modal-content__close {
    padding: 0;
    border: none;
    cursor: pointer;
    
    /* display: inline-block; */
}
.modal-content__inputs {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    margin-bottom: 24px;
}
.modal-content__input label {
    color:#1C1C1C;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px; /* 153.846% */
    margin-bottom: 8px;
}
.modal-content__input select {
    width: 100%;
    height: 44px;
    border: none;
    padding: 12px;
    background-color: #F6F7FA;
    border-radius: 6px;
}

.modal-content__data {
    color: #1C1C1C;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.modal-content__calendar {
    display: flex;
    gap: 4px;
    padding: 12px;
    background-color: #F6F7FA;
    border-radius: 6px;
}

.modal-content__field {
    margin-bottom: 24px;
}

.modal-content__field label {
    display: block;
    color:#1C1C1C;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px; /* 153.846% */
    margin-bottom: 8px;
}
.modal-content__textarea {
    display: block;
    width: 100%;
    height: 112px;
    padding: 12px;
    background-color: #F6F7FA;
    border-radius: 6px;
    resize: none;
}
.modal-content__btns {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.modal-content__btns button {
    border: none;
    padding: 15px 32px;
    color: #FFF;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    background-color: #A661FF;
}


.hidden {
    display: none;
}
