
.page {

    /* .page__container */
    &__container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    /* .page__content */
    &__content {
        margin-top: -3.125rem;
    }
    /* .page__title */
    &__title {
        margin-bottom: 0.75rem;
        font-weight: 600;
        font-size: 1.75rem;
        line-height: 120%;
        color: #333;
    }
    /* .page__list */
    &__list {
        padding-left: 1.25rem;
        margin-bottom: 1rem;
    }
    /* .page__item */
    &__item {
        &:not(:last-child) {
            margin-bottom: 0.3rem;
        }
    }
    /* .page__link */
    &__descr {
        margin-bottom: 0.5rem;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
    }
    /* .page__link */
    &__link {
        transition: color 0.3s ease 0s;
        &:hover {
            color: lime;
        }
    }
    /* .page__img */
    &__img {
        &-link {
            display: inline-block;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover){
                &:hover{
                    transform: scale(.9);
                }
            }
        }
    }
    /* .page__text */
    &__text {
    }
}
//========================================================================================================================================================
.footer {
    height: 100vh;
    /* .footer__container */
    &__container {
        display: flex;
        height: 100%;
        gap: 1.25rem;
        justify-content:center;
        align-items: center;
    }
    /* .footer__content */
    &__content {
    }
    /* .footer__image */
    &__image {
        max-width: 16.25rem;
    }
}
.content-footer {

    /* .content-footer__logo */
    &__logo {
        max-width: 11.25rem;
        margin-bottom: 0.75rem;
    }
    /* .content-footer__texts */
    &__texts {
        margin-bottom: 1.5rem;
    }
    /* .content-footer__bottom */
    &__bottom {
    }
    /* .content-footer__descr */
    &__descr {
        font-size: 1.125rem;
        line-height: 120%;
    }
}
.null {
    &-1 {
        font-weight: 600;
    }
    &-2 {

    }
    &-3 {
        margin-bottom: 0.25rem;
    }
    &-4 {
        color: rgba(0, 0, 0, .5);
    }
}
