.wrapper {
}
.main {
}
.page {
}
.page-main {

    /* .page-main__container */
    &__container {
        max-width: 120rem;
        margin: 0 auto;
    }
    /* .page-main__list */
    &__list {
        list-style: none;
    }
    /* .page-main__item */
    &__item {
        &:not(:last-child) {
            margin-bottom: 0.9375rem;
        }
    }
}
